In [1]:
'''
Question 1 - 
Which of the following will print the following pattern - 
**
***
****
'''

'\nQuestion 1 - \nWhich of the following will print the following pattern - \n**\n***\n****\n'

In [5]:
# Code 1
print("**\n***\n****") # \n represents new line in python strings

**
***
****

In [6]:
print("this is something\nthis is something else")

this is something
this is something else

In [10]:
# Code 2
print("**", "***", "****", sep = "\n")

**
***
****

In [12]:
# Code 3
print("*"*2) # \n is the end value by default
print("*"*3)
print("*"*4)

**
***
****

In [13]:
"random"*3

'randomrandomrandom'

In [14]:
# Code 4
print("*"*2, end = " ")
print("*"*3, end = " ")
print("*"*4, end = " ")

** *** ****

In [16]:
print("printing something", end = " ")
print("printing something else")

printing something printing something else

In [17]:
'''
Question 2 - 
Write a program which concatenates two strings with a $ in between.

-> "random", "random2"
-> "random$random2"
'''

'\nQuestion 2 - \nWrite a program which concatenates two strings with a $ in between.\n\n-> "random", "random2"\n-> "random$random2"\n'

In [18]:
s1 = "first"
s2 = "second"

print(s1 + "$" + s2)

first$second

In [19]:
s3 = s1 + "$" + s2

In [20]:
s3

'first$second'

In [22]:
"string1" + "string2" + "random"

'string1string2random'

In [23]:
'''
Question 3 - 
Thanos wiped 50% of the world's population. 
Tony Stark wabted to find out which people were wiped.
He found a simple correlation ->
If you remove last two digits of any mobile number -
1. The result is even -> person was wiped (True)
2. The reuslt is odd -> person survived (False)

INPUT -
9999234522

EXPLANATION - 
99992345 -> If this number is even or odd

OUTPUT - False
'''

"\nQuestion 3 - \nThanos wiped 50% of the world's population. \nTony Stark wabted to find out which people were wiped.\nHe found a simple correlation ->\nIf you remove last two digits of any mobile number -\n1. The result is even -> person was wiped (True)\n2. The reuslt is odd -> person survived (False)\n\nINPUT -\n9999234522\n\nEXPLANATION - \n99992345 -> If this number is even or odd\n\nOUTPUT - False\n"

In [24]:
5678 // 10

567

In [25]:
5678 // 100

56

In [47]:
number = 9999234422

truncated_number = number // 100

In [48]:
truncated_number

99992344

In [52]:
# Using if
if truncated_number % 2 == 0:
    print(True)
else:
    print(False)

True

In [49]:
result = truncated_number % 2
# even number -> 0
# odd number -> 1

In [50]:
final_result = not bool(result)

In [51]:
final_result

True

In [34]:
result

1

In [35]:
bool(1)

True

In [36]:
bool(0)

False

In [29]:
5 % 2

1

In [30]:
6 % 2

0

In [31]:
10 % 3

1

In [32]:
10 % 4

2

In [53]:
print(5+6)

11

In [54]:
'''
Question 4 - 
a = 10
b = a + 5
a += 5

print(id(a) == id(b))
'''

'\nQuestion 4 - \na = 10\nb = a + 5\na += 5\n\nprint(id(a) == id(b))\n'

In [55]:
x = 30

In [56]:
id(x)

140608102526160

In [58]:
a = 6

In [59]:
a -= 5

In [60]:
a //= 5

In [61]:
a *= 5

In [57]:
a = 10
b = a + 5
a += 5 # a = a + 5

print(id(a) == id(b))

True

In [65]:
'''
Question 5 - 
A bacteria can grow 2 times its original volume at every time step.
If the initial volume is 1 and number of time steps is T.
What is the volume of bacteria after T time steps.
'''

'\nQuestion 5 - \nA bacteria can grow 2 times its original volume at every time step.\nIf the initial volume is 1 and number of time steps is T.\nWhat is the volume of bacteria after T time steps.\n'

In [66]:
# 1*2*2*2*2*2*2 -> 6 time steps -> multiply by 2, 6 times

In [67]:
T = 5
volume = 2 ** T

In [68]:
volume

32

In [71]:
'''
Question 6 - 
a = True
b = 7 - a

What is the output?
'''

'\nQuestion 6 - \na = True\nb = 7 - a\n\nWhat is the output?\n'

In [72]:
a = True
b = 7 - a

In [73]:
b

6